body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 1200px;
  height: 100vh;
  margin: 0px;
  position: relative;

}
aside.sidebar {
  width: 250px;
  padding: 10px;
  background-color: black;
  border-right: 1px solid gray;

}
aside.sidebar-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.sidebar-header img.logo {
  height: 30px;
  margin-bottom: 10px;
}
aside.sidebar input[type=text] {
  padding: 10px;
  border: 1px solid gray;
  background-color: #333;
  color: white;
  border-radius: 5px;
  width: 90%;
}
nav.sidebar-nav ul {
  padding: 0;
  list-style: none;
}

nav.sidebar-nav ul li a{
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  color: white;
}
nav.sidebar-nav ul li a.active{
  font-weight: bold;
  color: white;
}

nav.sidebar-nav ul li a:hover{
  color: #bbb;
}

.following-accounts p {
  color: grey;
  font-weight: 200;
  font-size: 14px;
  margin: 20px 0 10px 0;
}

.following-accounts ul{
  padding: 0;
  list-style: none;
}

.following-accounts ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}

.following-accounts ul li a img {
    margin-right: 5px;
    border-radius: 100%;
}
.following-accounts .company {
  margin-top: 40px;
}
.following-accounts .company p {
  color: grey;
  font-weight: 200;
  font-size: 14px;
}
main.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
}
.actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  gap: 5px;
}

.actions button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 50%;
}

.get-app {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.get-app button {
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
